<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django + Vue</title>
    {% load static %}
</head>
<body>
    <div id="app">
        <p>This should disappear if Vue is working.</p>
    </div>
    
    <script>
        console.log('Script loaded!');
    </script>
    <script src="{% static 'js/app.cb328b4c.js' %}"></script> <!-- shto loadna vnatre vo ovoj fajl-->
    <h1>EJIOAWEJIOAWJEOI</h1>
</body>
</html>